html, body, #__next {
    @apply min-h-full h-full;
    scroll-behavior: smooth;
}

h1 b {
    background: linear-gradient(to right, #60A5FA, #EC4899);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#bg-page {
    background-color: #1f2937;
    background-image: url(https://static.desica.uk/hotlink-ok/topography.svg);
    background-attachment: fixed;
    @apply bg-fixed;
}

#nav {
    backdrop-filter: blur(5px);
    width: 100% !important;
}

@keyframes one {
    0% {
        opacity: 0;
        display: none !important;
    }
    5% {
        opacity: 0;
        display: none !important;
    }
    10% {
        opacity: 1;
        display: inline !important;
    }
    20% {
        opacity: 1;
        display: inline !important;
    }
    25% {
        opacity: 0;
        display: none !important;
    }
    100% {
        opacity: 0;
        display: none !important;
    }
}

@keyframes two {
    0% {
        opacity: 0;
        display: none !important;
    }
    25% {
        opacity: 0;
        display: none !important;
    }
    30% {
        opacity: 1;
        display: inline !important;
    }
    40% {
        opacity: 1;
        display: inline !important;
    }
    45% {
        opacity: 0;
        display: none !important;
    }
    100% {
        opacity: 0;
        display: none !important;
    }
}

.one {
    animation: infinite 15s ease-in-out one;
    display: none;
}

.two {
    animation: infinite 15s ease-in-out two;
    display: none;
}